doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.css")
        link(rel="icon" href="img/logo.svg" type="image/x-icon")
        title Company Bicycle - good company with quality and comfortable bikes
    body 
        header
            .wrapper
                .header-logo.text-center.d-sm-flex.align-items-sm-center.justify-content-sm-center
                    nav 
                        ul.d-flex.justify-content-center
                            li
                                a(href="#") about us 
                            li
                                a(href="#")  work
                    .logo 
                        picture 
                            img(src="img/logo.svg", alt="Logo Bicycle")     
                    nav 
                        ul.d-flex.justify-content-center 
                            li
                                a(href="#") shop
                            li
                                a(href="#") contact     
        main 
            .container
                .h.text-center 
                    img(src="img/IconSep.svg", alt="IconSep")
                    h1 A NEW GENERATION OF VINTAGE BIKE
                    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
            .imagewithText.text-center 
                .first-block.d-xl-flex 
                    .img-one
                    .dwaimage
                        .imgText-block
                            img(src="img/IconRama.svg", alt="IconRama")
                            h2 vintage Oliva
                            p.small.mx-auto Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived. 
                        .sidlo 
                            img.sidayn(src="img/Sidlo.png", alt="Sidlo")
                .second-block.d-xl-flex 
                    .dwaimage
                        .imgText-block
                            img(src="img/IconKoleco.svg", alt="IconRama")
                            h2 La Boriosa
                            p.small.mx-auto Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived. 
                        .sidlo 
                            img.sidayn(src="img/blackSedlo.png", alt="Sidlo")
                    .img-twoy
                .third-block.d-xl-flex 
                    .persha-img
                    .text-bgWhite 
                        .imgText-block(id="sixfife")
                            img(src="img/IconVulka.svg", alt="IconVulka")
                            h2 retrò Bike - M. Hulot
                            p.small.mx-auto Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived. 
                        .sidlo 
                            img(src="img/koloca.png", alt="koloca" id="kolec")
                    .dryga-img
                
        footer



        script(src="script.js") 