doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.css")
        link(rel="icon" href="img/logo.svg" type="image/x-icon")
        title Company Bicycle - good company with quality and comfortable bikes
    body 
        header
            .wrapper
                .slider(id="topSlide")
                .header-logo.text-center.d-sm-flex.align-items-sm-center.justify-content-sm-center
                    nav 
                        ul.d-flex.justify-content-center
                            li
                                a(href="#") about us 
                            li
                                a(href="#")  work
                    .logo 
                        picture   
                            a(href="#slider") 
                                img(src="img/logo.svg", alt="Logo Bicycle")     
                    nav 
                        ul.d-flex.justify-content-center 
                            li
                                a(href="#") shop
                            li
                                a(href="#") contact     
        main 
            .container
                .h.text-center 
                    img(src="img/IconSep.svg", alt="IconSep")
                    h1 A NEW GENERATION OF VINTAGE BIKE
                    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
            .imagewithText.text-center 
                .first-block.d-xl-flex 
                    .img-one
                    .dwaimage
                        .imgText-block
                            img(src="img/IconRama.svg", alt="IconRama")
                            h2 vintage Oliva
                            p.small.mx-auto Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived. 
                        .sidlo 
                            img.sidayn(src="img/Sidlo.jpg", alt="Sidlo")
                .second-block.d-xl-flex 
                    .dwaimage
                        .imgText-block
                            img(src="img/IconKoleco.svg", alt="IconRama")
                            h2 La Boriosa
                            p.small.mx-auto Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived. 
                        .sidlo 
                            img.sidayn(src="img/blackSedlo.jpg", alt="Sidlo")
                    .img-twoy.d-none.d-xl-flex 
                .third-block.d-xl-flex 
                    .persha-img.d-none.d-xl-flex 
                    .text-bgWhite 
                        .imgText-block(id="sixfife")
                            img(src="img/IconVulka.svg", alt="IconVulka")
                            h2 retrò Bike - M. Hulot
                            p.small.mx-auto Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived. 
                        .sidlo 
                            img(src="img/koloca.jpg", alt="koloca" id="kolec")
                    .dryga-img.d-none.d-xl-flex 
                    //- /////////////////////////////////////////////////////
                .container
                    .twitter-block.text-center 
                        img.twit(src="img/Twitter.svg", alt="Twitter")
                        .d-sm-flex.align-items-center.justify-content-center
                            h3 AOD New York  @aod
                            p.slesh /  35 min
                        p.italy Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut tellus ac nulla semper rhoncus. Nullam a odio porttitor, dictum turpis vitae, pretium ante amet.
                    //- /////////////////////////////////////////////////////
                .scroll
                    .mediaaa.d-flex
                        .perCard 
                            .ssr.d-flex 
                                img.w-100(src="img/g.png", alt="sidyshka")
                                img.w-100(src="img/sid.png", alt="sidyshku")
                            .zbilsh
                        .odunak 
                            .odunCard
                        .odunak
                            .odunCardt 
                        .czetCard 
                            .last-top 
                            .ssr.d-flex 
                                img.height-image-dwa.w-100(src="img/broySid.png", alt="sidyshka")
                                img.height-image-dwa.w-100(src="img/black-back.png", alt="back")
            .discover.text-center 
                a.buttom(href="#")  DISCOVER THE SHOP
            .second-logo-foot.text-center.container 
                .sliderdwa(id="slider")  
                    picture 
                        a(href="#topSlide") 
                            img(src="img/logo.svg", alt="logo Bicycle")
                p.inputsubtitle.text-center Stay on the saddle!
                .dwa-inputa.d-sm-flex.justify-content-sm-center.d-block
                    form(action="#" method="post").d-sm-flex.justify-content-sm-center.d-block
                        input.d-sm-flex.justify-content-sm-center.d-block.mx-auto.wwod(type="text", required, placeholder="enter your email...")
                        input.text-center.otpraw(type="submit" value="GO") 
        footer 
            .container 
                .d-lg-flex.align-items-center.kylk
                    p.wthursta 2250 Lexington Avenue New York, NY 10035  - info@domain.com 
                        b AOD New York 
                    .sociall
                        ul.d-flex.justify-content-center.foter  
                            li.column-gapp 
                                a(href="#")
                                    img(src="img/twitter.png", alt="twitter")
                            li.column-gapp 
                                a(href="#")
                                    img(src="img/facebook.png", alt="facebook")
                            li.column-gapp 
                                a(href="#")
                                    img(src="img/pinterest.png", alt="pinterest")                    
                    p.d-flex.lel.justify-content-center Handcrafted by
                        b.yebo Yebo
        script(src="script.js") 